<%= form_for :product, url: products_path  do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :brand %><br>
  <%= f.text_field :brand %>
</p>
<p>
  <%= f.label :category %><br>
  <%= f.text_field :category %>
</p>
<p>
  <%= f.label :price %><br>
  <%= f.number_field :price %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>